@font-face {
    font-family: 'Hack Nerd Font Mono';
    src: url('fonts/HackNerdFontCompleteM-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SauceCodePro Nerd Font Mono';
    src: url('fonts/SauceCodeProNerdFontCompleteM-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


